<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.brames.recoverphotos">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.brames.recoverphotos.Activities.ScannerActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="com.brames.recoverphotos.Activities.RestoredScannerActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="com.brames.recoverphotos.Activities.SplashScreen"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="com.brames.recoverphotos.Activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.brames.recoverphotos.WelcomeScreen"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/adMob_app_id" />

        <activity
            android:name="com.brames.recoverphotos.Activities.AboutActivity"
            android:label="@string/title_activity_about"></activity>
    </application>

</manifest>